@mixin buttonStyle {
    padding: 0.7em 0;
    margin-top: 5%;
    width: 100%;
    border: none;
    background-color: #3784c7;
    color: white;
    border-radius: 2em;
    font-size: 0.8em;
    cursor: pointer;
}