@import 'base.scss';

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    width: 20em;
    height: 30em;
    opacity: 0.8;
    border: 1px solid black;
    box-shadow: 2px 4px 8px black;

    .text {
        //border: 1px solid lime;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 1em;

        h1 {
            text-align: center;
            font-size: 2.5em;

            &::after {
                content: '';
                background-image: url(https://www.freeiconspng.com/thumbs/financial-icon-png/financial-icon-png-buy-this-icon-for--0-48-2.png);
                background-size: cover;
                background-position: center;
                width: 0.8em;
                height: 0.8em;
                display: inline-block;
                margin-left: 0.1em;
                transform: translateY(45%);
            }
        }
    
        h2 {
            text-align: center;
            font-size: 1em;
            font-weight: lighter;
            margin-top: 0.5em;
            letter-spacing: 3px;
        }
    }

    form {
        //border: 1px solid red;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 4em;

        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            label {
                font-size: 0.9em;
            }

            input {
                text-align: center;
                padding: 0.3em 0;
                outline: none;
                border: 1px solid black;
                color: rgb(80, 80, 80);
                border-radius: 4px;
                font-family: 'Lato', sans-serif;
                font-size: 0.8em;
                width: 60%;

                &:focus {
                    //color: red; // PODE SER QUE REMOVAMOS!
                }

                -moz-appearance: textfield;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }
        }
    
        .monthlyPayment {
            margin: 1em 0;
        }
    
        .fees,
        .contributionTime {
            margin-bottom: 1em;
        }

        button {
            padding: 0.7em 0;
            margin-top: 10%;
            border: none;
            background-color: #3784c7;
            color: white;
            border-radius: 2em;
            cursor: pointer;
        }
    }
}